.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

    /*width: 500px;*/

    height: 700px;
}
.button{
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: #354357;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;

}
.button:hover{
    background: #6C63FF;

}
.text{
    color: white;
    font-weight: bold;
    font-size: 18px;
}