.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

    /*width: 500px;*/

    height: 700px;
}
.button{
    flex-direction: row;


}