.container {
  padding: 0 2rem;
}
.title{
  border-color: #6C63FF;
  color: white;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  font-size: 30px;
  font-weight: bold;
  /*margin-top: 50px;*/
/*background-color: red*/
}





